"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "minimap"
    ]
    projectHome: "/home/lilu/Documents"
    telemetryConsent: "limited"
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ccc4f4c4-2aaa-45e6-a2b6-4ce1cc337a9d"
  welcome:
    showOnStartup: false
